<footer class="z-10 mt-4 bg-blue-900 text-sm text-white">
  <div
    class="container mx-auto flex flex-col gap-4 px-4 py-8 md:grid md:grid-cols-footer"
  >
    <div>
      <h4 class="mb-4 mt-0 font-semibold">Réseaux sociaux</h4>
      <ul class="flex flex-col gap-2">
        <li>
          <a
            class="flex w-min items-center gap-2 underline duration-300 hover:translate-x-2"
            href="https://www.instagram.com/fede_fpms/"
          >
            <svg
              class="w-6 fill-white"
              role="img"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Instagram</title>
              <path
                d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z"
              ></path>
            </svg>
             Instagram
          </a>
        </li>
        <li>
          <a
            class="flex w-min items-center gap-2 underline duration-300 hover:translate-x-2"
            href="https://www.facebook.com/fede.fpms"
          >
            <svg
              class="w-6 fill-white"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 256 256"
            >
              <g transform="translate(-28,-28) scale(1.21875,1.21875)">
                <g transform="scale(4,4)">
                  <path
                    d="M32,6c-14.359,0 -26,11.641 -26,26c0,12.999 9.54,23.769 22,25.693v-17.693h-6v-7h6v-5c0,-7 4,-11 10,-11c3.133,0 5,1 5,1v6h-4c-2.86,0 -4,2.093 -4,4v5h7l-1,7h-6v17.822c12.945,-1.488 23,-12.478 23,-25.822c0,-14.359 -11.641,-26 -26,-26z"
                  ></path>
                </g>
              </g>
            </svg>
             Facebook
          </a>
        </li>
        <li>
          <a
            class="flex w-min items-center gap-2 underline duration-300 hover:translate-x-2"
            href="mailto:fede.polytech@umons.ac.be"
          >
            <svg
              class="w-6 fill-white"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 728.83 534.18"
              width="25"
              height="25"
              preserveAspectRatio="xMidYMid meet"
            >
              <title>Mail</title>
              <path
                d="M0,364.48v-261c.25-5,.61-10.1.74-15.16.38-15,2.06-29.4,10-42.8C21.17,28.08,34.67,14.64,53.58,7,67.87,1.21,82.87.19,98.07.18Q259.4.14,420.73,0c70.5.05,141,.44,211.5.78,8.91,0,18-.16,26.69,1.28C675.6,4.84,690,12.83,702,24.73c14.89,14.85,25.22,32,25.62,53.89.16,8.28.82,16.55,1.25,24.82V372.66c-.14,2.34-.39,4.67-.39,7q-.16,41.26-.26,82.54a15,15,0,0,1-.32,4.41c-3.66,11.22-8.17,22-15.15,31.68-12.77,17.68-30.35,28.44-50.53,35.5a12.32,12.32,0,0,1-4,.38H72.25a14.7,14.7,0,0,1-4-.31c-26.66-7.73-47.11-23.31-59.63-48.32-4.05-8.1-8-16.33-8-26,.13-29.49-.08-59-.18-88.48C.38,368.9.14,366.69,0,364.48Zm659.64-240.6c-1.47.94-2.31,1.44-3.09,2Q611,158.28,565.39,190.68q-96.76,68.48-193.56,136.89c-3.48,2.47-5.75,2.52-9.22-.1-31.52-23.83-63.24-47.41-94.82-71.17Q170.08,182.8,72.44,109.2c-1.23-.93-2.53-1.78-4.35-3-.13,2.27-.29,3.84-.3,5.42-.12,20.69-.34,41.39-.3,62.09q.24,128.09.65,256.17c0,7.54.44,15.11,1,22.63.53,6.45,10,14.63,16.46,14.63H643c7.13,0,15.74-7.51,16-14.65.59-16.09,1.11-32.2,1.1-48.3q-.09-138.31-.44-276.63ZM133.05,68.18c1.7,1.45,2.67,2.35,3.72,3.15,14.25,10.93,28.43,22,42.79,32.75q91.83,69,183.76,137.75c5.95,4.46,4,4.49,10.32.06Q491.81,158.67,609.89,75.31c2.75-1.94,5.37-4.08,8.05-6.13l-.32-1Z"
              ></path>
            </svg>
             fede.polytech@umons.ac.be
          </a>
        </li>
      </ul>
    </div>
    <div class="h-[2px] rounded-full bg-white md:hidden"></div>
    <div>
      <h4 class="mb-4 mt-0 font-semibold">Commission Web 185</h4>
      <ul class="flex flex-col gap-2">
        <li>Hugo Lorenzoni</li>
        <li>Christian Abgenda</li>
        <li>Rémy Lempire</li>
      </ul>
    </div>
    <div class="h-[2px] rounded-full bg-white md:hidden"></div>

    <div>
      <h4 class="mb-4 mt-0 font-semibold">© Site développé par</h4>
      <ul class="flex flex-col gap-2">
        <li>Hugo Lorenzoni</li>
        <li>Rémy Lempire</li>
        <li>Christian Abgenda</li>
      </ul>
    </div>
    <div class="h-[2px] rounded-full bg-white md:hidden"></div>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1653 1846"
      preserveAspectRatio="yMidXMid meet"
      class="w-32"
    >
      <title>Blason Polytech</title>
      <path
        class="fill-white"
        d="M168,80V1526a262,262,0,0,0,262,262H862a138,138,0,0,1,138,138,138,138,0,0,1,138-138h421a262,262,0,0,0,262-262V80Z"
        transform="translate(-168 -80)"></path>
      <path
        class="fill-blue-800"
        d="M1107.17,1281.25a40,40,0,0,0,56.57,0l14.14-14.14a40,40,0,0,0,0-56.57l-102-102-70.71,70.71Z"
        transform="translate(-168 -80)"></path>
      <path
        class="fill-blue-800"
        d="M734.6,590,620.78,476.22,442,655c17.71,17.63,27.71,43,25.77,71.9-2,29.42-15.93,56.8-36.78,77.09l44.83,44.83,99.46-99.46L722.13,896.21,763,795.69l-117-117Z"
        transform="translate(-168 -80)"></path>
      <path
        class="fill-blue-800"
        d="M1124,897.8,811.24,1210.54a40,40,0,0,0,0,56.57l14.15,14.14a40,40,0,0,0,56.56,0L1175.7,987.5Z"
        transform="translate(-168 -80)"></path>
      <polygon
        class="fill-blue-800"
        points="815.96 936.61 697.69 818.35 645.98 908.06 745.25 1007.32 815.96 936.61"
      >
      </polygon>
      <path
        class="fill-blue-800"
        d="M1101,526s-11-32-49-51a125,125,0,0,0-57-13,132.63,132.63,0,0,0-57,13c-36,17-49,51-49,51L471,1553,995,644l524,909Z"
        transform="translate(-168 -80)"></path>
      <path
        class="fill-blue-800"
        d="M1559.14,898.22c-32.49-183.3-177.06-327.87-360.36-360.36l142.51,142.51L1226,795.69l40.91,100.52L1412,751.08Z"
        transform="translate(-168 -80)"></path>
    </svg>
  </div>
</footer>
