---
import Grid from "@components/Grid.astro";
import Layout from "@layouts/Layout.astro";

import BDM from "@images/grands-evenements/bdm.jpg";
import Ski from "@images/grands-evenements/ski.jpg";
import VoyageQ from "@images/grands-evenements/voyageq.jpg";
import VacancesAPeyresq from "@images/grands-evenements/vacancesapeyresq.jpg";
import Game from "@images/grands-evenements/game.jpg";
import Revue from "@images/grands-evenements/revue.jpg";

import ISW from "@images/grands-evenements/placeholder.jpg";
import Crasino from "@images/grands-evenements/placeholder.jpg";
import SaintNic from "@images/grands-evenements/placeholder.jpg";

const items = [
  {
    name: "Bal des Mines",
    href: "/grands-evenements/bdm",
    image: BDM,
  },
  {
    name: "ISW",
    href: "/grands-evenements/isw",
    image: ISW,
  },
  {
    name: "Crasino",
    href: "/grands-evenements/crasino",
    image: Crasino,
  },
  {
    name: "Saint-Nic",
    href: "/grands-evenements/saint-nic",
    image: SaintNic,
  },
  {
    name: "Ski",
    href: "/cercles&commissions/sports#ski",
    // href: "/grands-evenements/ski",
    image: Ski,
  },
  {
    name: "Voyage Q",
    href: "/cercles&commissions/q#voyage-q",
    // href: "/grands-evenements/voyage-q",
    image: VoyageQ,
  },
  {
    name: "Vacances à Peyresq",
    href: "/cercles&commissions/peyresq",
    // href: "/grands-evenements/vacances-a-peyresq",
    image: VacancesAPeyresq,
  },
  {
    name: "Game - LAN party",
    href: "/cercles&commissions/magellan#game",
    // href: "/grands-evenements/game",
    image: Game,
  },
  {
    name: "La Revue des Mines",
    href: "/grands-evenements/revue",
    image: Revue,
  },
];
---

<Layout title="Les grands événements la polytech">
  <main class="container mx-auto space-y-6 px-4 py-4">
    <h1
      class="bg-gradient-to-r from-blue-900 to-blue-600 bg-clip-text text-3xl font-bold text-transparent"
    >
      Les grands événements la polytech
    </h1>
    <Grid list={items} />
  </main>
</Layout>
