---
import Layout from "@layouts/Layout.astro";
import Grid from "@components/Grid.astro";
import { Image } from "astro:assets";

import Carolo from "@images/régionales/carolo.jpg";
import Frontalière from "@images/régionales/frontaliere.jpg";
import Centrale from "@images/régionales/centrale.jpg";
import Boraine from "@images/régionales/boraine.jpg";

import ComiteFêtes from "@images/comités/fetes.jpg";
import Facebook from "@icons/Facebook.astro";

const fêtes = {
  name: "Cercle des Fêtes",
  href: "/folklore/cercle-des-fetes",
  image: ComiteFêtes,
  president: "Maxime Vandenhende",
  tresorier: "Colin Huart",
  secretaire: "Charlotte Blondel",
};

const régionales = [
  {
    name: "Carolo",
    href: "/folklore/carolo",
    image: Carolo,
  },
  {
    name: "Frontalière",
    href: "/folklore/frontaliere",
    image: Frontalière,
  },
  {
    name: "Centrale",
    href: "/folklore/centrale",
    image: Centrale,
  },
  {
    name: "Boraine",
    href: "/folklore/boraine",
    image: Boraine,
  },
];

const link = {
  name: "Plus d'infos sur la Bleusaille Polytech",
  url: "https://www.facebook.com/profile.php?id=100069720777042",
};
---

<Layout title="Folklore">
  <main class="container mx-auto space-y-6 px-4 py-4">
    <h1
      class="bg-gradient-to-r from-blue-900 to-blue-600 bg-clip-text text-3xl font-bold text-transparent"
    >
      Folklore
    </h1>
    <section class="space-y-3">
      <h2 class="text-xl font-semibold">Cercle des Fêtes</h2>
      <div
        class="rounded-lg border-r-4 border-blue-900 bg-white font-medium shadow-box sm:flex"
      >
        <div class="aspect-video flex-1 overflow-hidden">
          <Image
            class="h-full w-full rounded-lg object-cover"
            src={fêtes.image}
            alt="Comité de la Fédération des étudiants de la Faculté Polytechnique de Mons (FPMs)"
            quality={30}
            format="webp"
          />
        </div>
        <div
          class="inline-flex w-full flex-col justify-center px-6 py-6 sm:w-auto"
        >
          <h3 class="mx-auto max-w-fit pb-4 text-xl">Comité</h3>
          <ul>
            <li><strong>Président :</strong>{" "}{fêtes.president}</li>
            <li><strong>Trésorier :</strong>{" "}{fêtes.tresorier}</li>
            <li><strong>Secrétaire :</strong>{" "}{fêtes.secretaire}</li>
          </ul>
        </div>
      </div>
    </section>
    <Grid title="Régionales" list={régionales} />
    <section class="space-y-3">
      <h2 class="text-xl font-semibold">Chants</h2>
      <div class="text-center">
        <h3 class="mb-2 text-lg font-semibold">
          Chant de la Faculté Polytechnique de Mons
        </h3>
        <i>Air : Le Chant des Chasseurs Ardennais</i>
        <p class="mt-2">
          En notre Wallonie, il est une Faculté, <br />
          Où l'on n'craint pas la vie de l'étudiant guinzé. <br />
          Quand dans la guindaille, parmi les futailles, <br />
          La Polytech de Mons est là, on ne nous ignore pas. <br />
          Et aux p'tites heures du matin, <br />
          Quand tous les gamins sont morts pleins, <br />
          La Polytech de Mons tient le coup et on reste debout. <br />
          On nous a dit : les études que vous faites,<br />
          Sont pas faciles, il faudra travailler.<br />
          Vous ne serez pas toujours à la fête,<br />
          Si vous ne voulez pas vous faire péter. <br />
          Mais pour un étudiant, c'est pas une vie, <br />
          Que de bloquer sans cesse et sans arrêt. <br />
          <strong
            >[ J'm'en fous, j'suis en Polytechnique, <br />
            Pour m'amuser, pour boire et guindailler ] Bis</strong
          ><br />
          <br />
          Et quand nous nous éveillons, midi sonne,<br />
          II est trop tard, encore trois cours brossés. <br />
          Aucun regret, la bière est toujours bonne,<br />
          Et nous attend au Bar de la Cité.<br />
          Agités par un réflexe éthylique, <br />
          On se lève et on va la déguster,<br />
          <strong
            >[ On est entrés à la Polytechnique,<br />
            Pour s'amuser, pour boire et guindailler ] Bis</strong
          ><br />
          <br />
          Et quand nous sortirons de notre rêve <br />
          Une triste vie pour nous va commencer : <br />
          La femme, les gosses et puis enfin la crève,<br />
          Ne cesserons pas de nous emmerder. <br />
          Profitons-en, le temps passe si vite,<br />
          On n'meurt qu'une fois, c'est là la vérité. <br />
          <strong
            >[ On est rentrés à la Polytechnique,<br />
            Pour s'amuser, pour boire et guindailler ] Bis</strong
          ><br />
        </p>
      </div>
    </section>
    <section class="space-y-3">
      <h2 class="text-xl font-semibold">Bleusaille</h2>
      <div>
        La Bleusaille, ce n'est pas que de l'intégration, elle te permettra de
        développer une personnalité forte et un épanouissement optimal
        nécessaire durant les études difficiles que tu as choisi d'entreprendre
        et à l'ingénieur que tu deviendras. Le côté relationnel, qui est tout
        aussi important pour un ingénieur, n'apparaît dans aucun programme de
        cours, mais a une grande place dans la Bleusaille.
      </div>
      <a
        class="inline-flex gap-2 text-blue-900 underline duration-150 hover:translate-x-2 hover:opacity-80"
        href={link.url}
      >
        <Facebook />

        {link.name}
      </a>
    </section>
  </main>
</Layout>
