---
import Footer from "@components/Footer.astro";
import Nav from "@components/Nav.astro";

import { ViewTransitions } from "astro:transitions";

import "@styles/base.css";

// import "@fontsource/poppins";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr-BE" class="scroll-p-24 scroll-smooth lg:scroll-p-[8.5rem]">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="title"
      content="Site de la Fédération des étudiants de la Faculté polytechnique de Mons (F.P.Ms)"
    />
    <meta
      name="description"
      content="Bienvenue sur le site de la Fédération des étudiants FPMs ! Aussi appelée la Fédé, elle a comme rôle de représenter les étudiants de la Polytech de Mons dans le contexte académique et folklorique"
    />
    <meta name="author" content="Commission Web FPMs 185" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href="https://fede.fpms.as.be" />
    {
      title === "Accueil" ? (
        <title>Fédé FPMs</title>
      ) : (
        <title>Fédé FPMs | {title}</title>
      )
    }
    <ViewTransitions />
    <script defer src="/_vercel/speed-insights/script.js" transition:persist
    ></script>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class="antialiased" transition:animate="fade">
    <Nav />
    <div>
      <slot />
    </div>
    <Footer />
  </body>
</html>
